#hero {
    background: radial-gradient(circle, #de4d1b 0%, var(--black) 45%);
    height: 95vh;
    position: relative;
    display: grid;
    place-items: center; 
}

#hero > img {
    width: 40%;
    max-width: 500px;
    min-width: 300px;
    position: absolute;
    bottom: 0;
}

.AIname {
    display: flex;
    gap: 14em;
}

.AIname h1 {
    font-family: 'Azonix', sans-serif;
    text-shadow: 0 0 24px var(--orange);
    font-size: 14em;
}