@media only screen and (max-width: 1360px) {
    #know-me .benefitsBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 1120px) {
    #about {
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }

    #about .right-side img {
        padding-top: 0em;
    }

    #about h2 {
        padding-top: 2em;
    }

    #about .right-side {
        align-items: center;
    }
}

@media only screen and (max-width: 950px) {
    #hero .AIname {
        flex-direction: column;
        gap: 0em;
        justify-content: flex-end;
    }

    .AIname {
        margin-bottom: 10em;
    }

    .AIname h1 {
        font-size: 10em;
    }
}

@media only screen and (max-width: 730px) {
    nav {
        display: none;
    }

    .open-nav {
        display: block;
    }

    #know-me .benefitsBox {
        grid-template-columns: repeat(1, 1fr);
    }

    #contact .labelsArea {
        flex-direction: column;
        align-items: center;
    }

    #contact .labelsArea label {
        width: 100%;
    }

    #contact .labelsArea textarea {
        height: 100px;
    }
}

@media only screen and (max-width: 500px) {
    h2 {
        font-size: 2em
    }

    h3 {
        font-size: 1.5em;
    }
}