#moodboard h2 {
    /* pushing the pic to the bottom to using navbar */
    padding: 2em 0 0.5em 0;
}

#moodboard img {
    width: 100%;
}

.board {
    width: 50%;
    min-width: 250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
}

.board img:nth-child(1) { grid-area: 1 / 1 / 3 / 2; }
.board img:nth-child(2) { grid-area: 1 / 2 / 3 / 3; }
.board img:nth-child(3) { grid-area: 3 / 2 / 4 / 3; }
.board img:nth-child(4) { grid-area: 3 / 1 / 4 / 2; }
.board img:nth-child(5) { grid-area: 1 / 3 / 2 / 4; }
.board img:nth-child(6) { grid-area: 2 / 3 / 3 / 4; }
.board img:nth-child(7) { grid-area: 3 / 3 / 4 / 4; }